<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>あいうえお</title>
    <script src="{{ url_for('static', filename='bbb.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='ccc.css') }}">
</head>
<body>
    <div class="logo"> 
        <img src="タイトル.jpg" alt="タイトル" title="ロゴ">
    </div>

    <div class="header">
        <div class="menu">
            <a href="aaa.html">top</a>
            <a href="aaa2.html">50音順</a>
            <a href="aaa2.html">年代順</a>
            <a href="aaa2.html">局順</a>
        </div>
    </div>

    <form action="{{ url_for('drama_bp.show_season') }}" method="post">
        <div class="nenndai">
            <div class="button_solid012">
                <button type="submit" name="season" value="2023年冬" class="button_solid012">2023冬</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="season" value="2023年春" class="button_solid012">2023春</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="season" value="2023年夏" class="button_solid012">2023夏</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="season" value="2023年秋" class="button_solid012">2023秋</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="season" value="2024年冬" class="button_solid012">2024冬</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="season" value="2024年春" class="button_solid012">2024春</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="season" value="2024年夏" class="button_solid012">2024夏</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="season" value="2024年秋" class="button_solid012">2024秋</button>
            </div>
        </div>
    </form>

    <form action="{{ url_for('drama_bp.show_detail') }}" method="post">
    <div class="haiiro">
        <div class="syousaikennsaku"> 
            <h1>詳細検索</h1>
        </div>
        <div class="box">
            <h3>タイトル</h3>
            <input type="textbox" id="title"><br>
            <h3>脚本</h3>
            <input type="textbox" id="writer"><br>
            <h3>演出</br>
            <input type="textbox" id="director"><br>
            <h3>出演者</h3>
            <input type="textbox" id="actor"><br>
            <h3>主題歌</h3>
            <input type="textbox" id="themesong"><br>
        </div>
    </div>

    <div class="qqq">
        <input type="checkbox" name="kyoku" value="NHK">
        <input type="checkbox" name="kyoku" value="TBS系">
        <input type="checkbox" name="kyoku" value="日テレ系">
        <input type="checkbox" name="kyoku" value="テレ朝系">
        <input type="checkbox" name="kyoku" value="フジテレビ系">
    </div>

    <div class="item">
        <img src="画像1.jpg" width="100" height="50">
        <img src="画像1.jpg" width="100" height="50">
        <img src="画像1.jpg" width="100" height="50">
        <img src="画像1.jpg" width="100" height="50">
        <img src="画像1.jpg" width="100" height="50">
    </div>

    <div class="kennsaku">
        <div class="button014">
            <button type="submit" class="button014">検索開始</button>
        </div>
    </div>
  </form>
    <form action="{{ url_for('drama_bp.show_genre') }}" method="post">
        <div class="jyannru">
            <div class="jyannrudekennsaku">
                <h1>ジャンルで検索</h1>
            </div>
            <div class="button_solid012">
                <button type="submit" name="genre" value="恋愛" class="button_solid012">恋愛</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="genre" value="サスペンス" class="button_solid012">サスペンス</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="genre" value="アクション" class="button_solid012">アクション</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="genre" value="コメディ" class="button_solid012">コメディ</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="genre" value="ミステリー" class="button_solid012">ミステリー</button>
            </div>
            <div class="button_solid012">
                <button type="submit" name="genre" value="ヒューマン" class="button_solid012">ヒューマン</button>
            </div>
        </div>
    </form>
</body>
</html>